<div class="row leftpanel">	
<div class="col-md-12"><h3> <span class="label label-default col-md-12">Navigator</span></h3></div>
	<div class="col-md-12">
		<select  class="form-control"  ng-options="node.label for node in nodeMap track by node.name" ng-model="os.startNode"> 
			<option value="">-- start-location --</option>
		</select>
	</div>	
	<div class="col-md-12">
		<select  class="form-control"  ng-options="node.label for node in nodeMap track by node.name" ng-model="os.endNode">
			<option value="">-- destination --</option>
		</select>
	</div>
	<div class="col-md-12">		
		<button class="btn btn-primary col-md-12" style="margin-top:5px" ng-click="startNavigation();">Navigate</button>	
	</div>
</div>
