
<div class="col-md-12">
<h4 style="color:white">
Navigator
</h4>
</div>
<div class="row leftpanel">	
	<div class="col-md-12">
		<select  class="form-control"  ng-options="o for o in nodeMap" ng-model="os.startNode"></select>
	</div>	
	<div class="col-md-12">
		<select  class="form-control"  ng-options="o for o in nodeMap" ng-model="os.endNode"></select>
	</div>
	<div class="col-md-12">		
		<button class="btn btn-primary col-md-12" style="margin-top:5px" ng-click="startNavigation();">Find</button>	
	</div>
</div>
	




