<div class="row leftpanel">	
<div class="col-md-12"><h3> <span class="label label-default col-md-12">Navigator</span></h3></div>
	<div class="col-md-12">
		<select  class="form-control"  ng-options="o for o in nodeMap" ng-model="os.startNode"></select>
	</div>	
	<div class="col-md-12">
		<select  class="form-control"  ng-options="o for o in nodeMap" ng-model="os.endNode"></select>
	</div>
	<div class="col-md-12">		
		<button class="btn btn-primary col-md-12" style="margin-top:5px" ng-click="startNavigation();">Find</button>	
	</div>
</div>
